.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: calc(50vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name-text {
  width: 250px;
  padding: 10px 25px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 1px 1px gray;
}

.description-text {
  width: 250px;
  height: 150px;
  padding: 10px 25px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 1px 1px gray;
}

.select-option {
  padding: 10px 25px;
  width: 250px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 1px 1px gray;
}

.task-title {
  color: white;
  font-size: calc(6px + 2vmin);
}

.submit-btn {
  padding: 10px 25px;
  width: 250px;
  text-transform: uppercase;
  margin-bottom: 25px;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 1px 1px gray;
}

.App-List {
  width: 500px;
  margin: 0 auto;
}

.errors {
  color: whitesmoke;
  font-size: 16px;
  display: inline-block;
  margin: 0 0 0 25px;
}

.errors-text {
  display: flex;
  align-items: center;
}